//========================================================================
// style.less
//========================================================================

@import "mixins";
@import url(http://fonts.googleapis.com/css?family=ABeeZee);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


//==============================
//Global variables
//==============================
@globalFont: 'Open Sans'; 
@menuColor: #6F8642; 




//==============================
//General.
//==============================
html,
body {
	height: 100%; 
	width: 100%;
	z-index: -1;  
}


.wrapper {
	position:relative; 
	width: 1050px; 
	margin: 0 auto; 
	height: 100%; 
}


//==============================
//Content section. 
//==============================

//===============================
//Main logo. 
//===============================
.main-logo {
	position: relative;
}


//===============================
//Navigation items. 
//===============================

.main-navigation {
	display: inline-block; 
	float: left; 
	h1 {
			text-indent: -9999px; 
			background-image: url("../images/logo.png"); 
			background-repeat: none; 
			width: 242px; 
			height: 81px;
			display: inline-block;  
	}
}


#items {
	display: inherit; 
	position: relative; 
	float: right;
	right: 20px; 
	top: 10px; 

	li a {
		display: inherit; 
		position: inherit; 
		margin-right: 2px;
		width: 100px; 
		height: 50px;	
		text-decoration: none; 
		text-align: center;  
		padding-top: 25px;  
		font-family: @globalFont cursive sans-serif;
		font-weight: bold;
		color: #000000; 
		transition: all 0.2s ease-in-out; 
		-webkit-transition: all 0.2s ease-in-out; 

		&:hover {color:#9EBF5E;}
	}
}

//================================
//Food image. 
//================================
#food-content{
	h1 {
		display: inline-block; 
		background-image: url("../images/banner_photos.jpg");
		background-size: contain; 
		background-repeat: repeat-x;   
		text-indent: -9999px;
		height: 450px;
		width: 100%;  
	}
	width: 100%; 
} 

//===============================
//Inner black box
//===============================
#inner-box{
	top: 135px; 
	left: 240px; 
	position: absolute; 	
	z-index: 30;
	width: 875px; 
	height: 350px;  
	background-color: rgba(0,0,0,0.8);
	p {
		position:relative; 
		left:20px; 
		top:90px; 
		font-family: @globalFont cursive sans-serif;
		color: white;
		text-align: center; 
		font-size: 35px;  
	}
/* Menu box button  */
	a.button {
		display: inline-block;
		position: relative; 
		border-radius: 5px; 
		text-decoration: none; 
		width: 315px; 
		height: 85px;  
		background-color: #9EBF5E; 
		text-align: center;
		left: 20px; 
		top: 50px;  
		margin-left: 265px; 
		margin-bottom: 20px;  

		h1 {
			display: inline-block; 
			position: relative; 
			left: 15px; 
			background-image: url("../images/icon_menu.png"); 
			background-repeat: no-repeat; 	
			width: 50px;
			height: 50px; 
			text-indent: -9999px; 		
	}
		p {
			display: inline-block; 
			position: relative; 
			font-family: @globalFont; 
			font-size: 30px;
			top: 15px; 
			left: 8px;  

		}

	&:hover{
			background-color: @menuColor; 
		}
	} 
}


//==============================
//Quote Section. 
//==============================
blockquote#feedback {
	margin-top:5.5em;
	display: inline-block; 
	position: absolute;
	font-family: georgia; 
	height: 400px; 
	width: 500px; 
	background-color: #f9f9f9; 
	padding: 1.5em 4.5em;
	quotes: "\201C""\201D""\2018""\2019"; 
}

blockquote#feedback:before{
	position:relative;
	opacity: 0.4; 
	color: #CACACA; 
	content: open-quote; 
	font-size: 15em; 
	line-height: 0em; 
	top: 65px;
	right: 55px;  
	vertical-align: -0.4em; 
}

blockquote#feedback:after{
	position: relative; 	
	color: #CACACA; 
	opacity: 0.4; 	
	content: close-quote; 
	font-size: 15em;
	bottom: 30px; 
	left: 460px; 
	line-height: 0.1em; 
	vertical-align: -0.4em; 
}

blockquote p {
	font-family: Georgia sans-serif;
	color:  #777777;
	font-size: 1.3em;   
}

blockquote p span {
	font-family: Georgia sans-serif; 
	color: #777777; 
	font-size: 1em;  
}

.splitter {
	background-color: #E0E0E0;
	height: 1px;  
}

//=================================
//Contact info section. 
//=================================
#contact-info {
	position: relative; 
	font-family: @globalFont cursive sans-serif;
	display: inline-block; 
	float: right; 
	margin-top: 5.5em;

	height: 380px;  
	width: 315px; 
	color: black; 
}

#contact-box {
	background-color:#97C0FF;
	border-radius: 5px;  
	width: 315px; 
	height: 85px; 	
}

#contact-box > img {
	position: relative; 
	display: inline;
	height: 40px;
	top: 20px; 
	left: 50px;  
}

#contact-box > p {
	position: relative; 
	color: #ffffff;
	text-align: center;
	display: inline; 
	top: 8px; 
	left: 55px; 
	font-size: 1.5em;   
}

.address-info {
	color: #777777;
	font-size: 1.2em; 
	overflow: auto; 
}

//================================
//Site footer. 
//================================

.site-footer{
	background-color: #f9f9f9; 
	color: #A0A0A0; 
	margin: 0 auto;
	padding: 0;  
	font-size: 1em;
	margin-top:25px;  
	text-align:center;
}

